.articleContainer{
    background: #FAFAFA;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    overflow: hidden;
}

.imgContainer{
    width: 100%;
    height: 200px;
    min-height: 150px;
    background-image: url(https://www.repstatic.it/content/nazionale/img/2022/08/28/155513494-870d7444-5c7b-420f-ac79-c1082417c4f2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.articleData{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.supportingText{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.87);
}

.articleTitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 10px;
}

.articleText{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 10px;
}

.readArticle{
    font-family: 'Bodoni 72', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color:rgba(0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: end;
}