#input-section{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,h2,h3, ul{
    margin: 3px;
}

ul{
    margin-bottom: 10px;
}

h1{
    font-size: 38px;
}

ul{
    list-style: none;
}

ul li{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    text-align: center;
}

ul li span{
    font-style: italic;
}

textarea{
    width: 80%;
    height: 50vh;
}

.button{
    width: 200px;
    padding: 0.5em 2em;
    margin-top: 1em;
    border: none;
    cursor: pointer;
    background-color: #a3daff;
    text-align: center;
    font-size: 26px;
    font-weight: 800;
}

.button:hover{
    background-color: #3498db;
}